RewriteEngine On

# If an existing asset or directory is requested, serve it directly
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# Redirect to the English index.html if the URL starts with /en
RewriteRule ^en(/.*)?$ /en/index.html [L]

# Redirect to the French index.html if the URL starts with /fr
RewriteRule ^fr(/.*)?$ /fr/index.html [L]

# Optional: Redirect to the English index.html if no language is specified
RewriteRule ^$ /en/index.html [L]