<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Rule to serve existing files or directories -->
                <rule name="Serve Existing Files or Directories" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" />
                    </conditions>
                    <action type="None" />
                </rule>
                
                <!-- Rule to rewrite English language requests -->
                <rule name="Rewrite English Requests" stopProcessing="true">
                    <match url="^en(/.*)?$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/en/index.html" />
                </rule>
                
                <!-- Rule to rewrite French language requests -->
                <rule name="Rewrite French Requests" stopProcessing="true">
                    <match url="^fr(/.*)?$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/fr/index.html" />
                </rule>
                
                <!-- Optional: Rule to rewrite root URL to English -->
                <rule name="Rewrite Root to English" stopProcessing="true">
                    <match url="^$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/en/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
