<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rule to redirect to /en/index.html if no language is specified -->
        <rule name="Default to English" stopProcessing="true">
          <match url="^(?!en/|fr/).*" />
          <action type="Rewrite" url="/en/index.html" />
        </rule>

        <!-- Rule to handle URLs containing /en/ -->
        <rule name="English Routes" stopProcessing="true">
          <match url="^en/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/en/index.html" />
        </rule>

        <!-- Rule to handle URLs containing /fr/ -->
        <rule name="French Routes" stopProcessing="true">
          <match url="^fr/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/fr/index.html" />
        </rule>

        <!-- Rule to handle general Angular routes -->
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
      </rules>
    </rewrite>
    
    <httpProtocol>
      <customHeaders>
        <!-- Custom headers can be uncommented as needed -->
        <!--
        <add name="X-Content-Type-Options" value="no-sniff"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="X-Xss-Protection" value="1; mode=block"/>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
        -->
      </customHeaders>
    </httpProtocol>
    <httpRedirect enabled="false" destination="" />
  </system.webServer>
</configuration>
